# ======================
# System / User files
# ======================
.*
!.gitignore

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ======================
# Virtual Environments
# ======================
.venv/
venv/
env/

# ======================
# ML Artifacts
# ======================
outputs/
models/
data/processed/*.parquet

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log